.container{
  background-image:url('../../public/image/Image.png');
  background-repeat:no-repeat;
  background-position-x: 44vw;
  background-repeat:no-repeat;
  height: 800px;
}
.headerContainer{
  margin: 20px auto 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 88%;
}
.logoItems{
  display: flex;
  align-items:center;
  gap: 50px;
}
.logoItems ul{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
}
.logoItems a{
  text-decoration: none;
  color:white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: right;
}
.logoItems ul li a:hover{
  transform: scale(2);
  border-bottom:1px solid white;
}
.button{
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  padding: 11px 27px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  transition: all 0.5s;
}
.button:hover{
  background:white;
  color:rgb(32, 29, 71);
}


.heroContainer{
  margin: 130px auto 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 88%;
}
.article{
  width: 500px;
}
.title{
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0px;
  text-align: left;
}
.text{
  width: 440px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 60px;
}
.article .button{
  padding: 19px 48px;
  background: linear-gradient(135.00deg, rgb(64, 221, 255) -41.743%,rgb(20, 186, 227) -22.508%,rgb(19, 177, 230) 26.899%,rgb(17, 170, 223) 40.023%,rgb(11, 152, 197) 58.257%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.8s;
}
.article .button:hover{
  background:white;
  color:rgb(32, 29, 71);
}
.sidebar{
  display: none;
}
.inputt{
  display: none;
}
.icon{
  display: none;
}
@media screen and (max-width:840px) {
  .container{
    height: 1500px;
    background-position-y: 80%;
    background-position-x: 0;
    position: relative;
  }
  .article{
    margin: 0 auto;
  }
  .logoItems{
    border-radius:10px;
    background:rgb(57, 52, 128);
    padding: 20px 10px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-flow: column;
    top: 40px;
    right: 30px;
    gap: 20px;
  }
  .logoItems ul{
    display: flex;
    flex-flow: column;
  }
  .logoItems .button{
    background:rgb(32, 29, 71);
  }
  .sidebar{
    display: block;
  }
  .inputt:checked ~ .logoItems{
    display: none;
  }
  .inputt:checked + .sidebar .icon{
    display: block;
  }
  .inputt:checked + .sidebar .iconX{
    display: none;
  }


}